@font-face {
  font-family: "iconfont"; /* Project id 2762941 */
  src: url('iconfont.woff2?t=1629703159609') format('woff2'),
       url('iconfont.woff?t=1629703159609') format('woff'),
       url('iconfont.ttf?t=1629703159609') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuan:before {
  content: "\e622";
}

.icon-dashang:before {
  content: "\e625";
}

.icon-shoucang:before {
  content: "\e61a";
}

